.vm-cart-table {
  table {
    tr {
      border-bottom: 1px solid #ddd;
      td {
        border-bottom: 1px solid #fff;
        color: #669;
        border-top: 1px solid transparent;
        padding: 8px;
      }
    }
  }
}
