@import "variables";
@import "vendors";
.vm-container {
	width: 100%;
	max-width: 1200px;
	margin: 0px auto;
}

@font-face {
	font-family: 'MyriadPro';
}

body {
	padding: 0;
	margin: 0;
	color: $TEXT_BLACK;
}

* {
  box-sizing: border-box;
	font-family: 'MyriadPro', Helvetica, Arial, sans-serif;
}

