@import "variables";
.vm-cart {
  position: absolute;
  right: 40px;
  top: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  cursor: pointer;
  align-items: center;

  .vm-cart-body {
    display: flex;
    align-items: center;

    .vm-cart-counter {
      width: 16px;
      height: 16px;
      font-size: 12px;
      border-radius: 16px;
      background: $WATERMELON;
      line-height: 16px;
      color: #FFF;
      margin-left: 6px;
    }
  }
}